@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* CẬP NHẬT: Thêm dòng này để bật smooth scroll */
html {
  scroll-behavior: smooth;
}

body {
  background: transparent;
  color: var(--foreground);
}

[data-leva-root] .leva-c-hPncDm {
  bottom: calc(100% + 8px) !important;
  top: auto !important;
}